# Build results
bin/
obj/
out/
Debug/
Release/
*.exe
*.dll
*.pdb
*.cache
*.log
*.user
*.suo
*.userprefs
*.vs/
.vscode/

# Session and secrets
*.session
session.dat
WTelegram.session
appsettings.Development.json
appsettings.Local.json
*.secret.json

# Temp files
*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db

# Rider / VSCode / JetBrains
.idea/
*.iml

# NuGet
*.nupkg
packages/

# Other
wwwroot/lib/
